# Dependencies
node_modules/
package-lock.json

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
terraform/lambda_*.zip
terraform/terraform.tfvars
*.tfvars

# AWS
.aws/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
